[Desktop Entry]
Type=Application
Name=Handsfree Dialer
Icon=hfdialer
Exec=dialer
Comment=Handsfree Dialer Application
X-Desktop-File-Install-Version=0.16
